{% extends "base.html" %}

{% block content %}
<style>
    .fade-in {
        opacity: 0;
        transition: opacity 2s;
    }

    .fade-in.visible {
        opacity: 1;
    }
</style>

<section class="about-section py-5 fade-in">
    <div class="container">
        <h2 class="display-4 text-center mb-4">Про нас</h2>
        <p class="lead text-center">Вас вітає церква ЄХБ в Гдині!</p>
        <p class="text-center">Щонеділі ми збираємось щоб спільно прославляти нашого Бога.</p>
        <div class="row mt-5">
            <div class="col-md-6 fade-in">
                <h3>Наша Місія</h3>
                <p>Наша місія полягає в тому, щоб поширювати любов і милість Божу серед усіх людей. Ми прагнемо бути світлом у цьому світі, допомагаючи тим, хто потребує, і підтримуючи один одного в вірі. Ми віримо, що кожна людина заслуговує на любов і підтримку, незалежно від її походження чи обставин. Наша церква прагне створити середовище, де кожен може знайти розраду, натхнення і духовне зростання. Ми активно залучаємося до благодійних проектів, допомагаючи тим, хто потребує, і працюємо над зміцненням нашої громади через спільні заходи та ініціативи.</p>
            </div>
            <div class="col-md-6 fade-in">
                <h3>Наші Цінності</h3>
                <ul>
                    <li><strong>Любов:</strong> Ми віримо в безумовну любов до всіх людей. Наша церква прагне бути прикладом цієї любові, приймаючи кожного з відкритим серцем і підтримуючи у важкі часи.</li>
                    <li><strong>Спільнота:</strong> Ми створюємо міцні зв'язки між членами нашої церкви. Спільнота для нас - це не просто слово, а спосіб життя, де кожен може знайти підтримку і розуміння.</li>
                    <li><strong>Служіння:</strong> Ми служимо нашій громаді через різні благодійні проекти. Наша церква активно залучається до допомоги тим, хто потребує, і працює над покращенням життя нашої громади.</li>
                    <li><strong>Віра:</strong> Ми зміцнюємо нашу віру через молитву і вивчення Святого Письма. Віра для нас - це основа всього, що ми робимо, і ми прагнемо ділитися цією вірою з іншими.</li>
                </ul>
            </div>
        </div>
        <div class="text-center mt-5 fade-in">
            <a class="btn btn-primary btn-lg" href="/contacts/" role="button">Зв'язатися з нами</a>
        </div>
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const fadeInElements = document.querySelectorAll('.fade-in');
        fadeInElements.forEach(element => {
            element.classList.add('visible');
        });
    });
</script>
{% endblock %}