{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="jumbotron text-center fade-in">
        <h1 class="display-4">Раді вітати!</h1>
        <hr class="my-4">
        <p>Ми раді вітати Вас в нашій церкві!</p>
        <a class="btn btn-primary btn-lg animated-button" href="about/" role="button">Про нас</a>
    </div>

    <div class="row mt-5">
        <div class="col-md-6 mb-4 fade-in">
            <div class="card h-100 bg-green-highlight">
                <div class="card-body text-center">
                    <h5 class="card-title">Події</h5>
                    <p class="card-text">Приєднуйтесь до наших подій та заходів.</p>
                    <a href="/socialmedia/" class="btn btn-outline-primary animated-button">Дізнатися більше</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4 fade-in">
            <div class="card h-100 bg-green-highlight">
                <div class="card-body text-center">
                    <h5 class="card-title">Контакти</h5>
                    <p class="card-text">Зв'яжіться з нами для будь-яких питань.</p>
                    <a href="/contacts/" class="btn btn-outline-primary animated-button">Дізнатися більше</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
